html, body {
    height: 100%;
}
body{
  min-height: 100%;
}
#tabinfo{
  height: 100px;
}

#console {
	background:black;
	font:15px monospace;
	color:white;
	padding:5% 5% 55% 5%;
	margin:0;
}
#commandeline{
	margin:0;
	padding:2px;
	width:100%;
}